{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Available Jobs</h2>

<form method="GET" class="row g-2 mb-4">

```
<div class="col-md-8">
    <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Search Jobs..."
        value="{{ request.GET.search }}"
    >
</div>

<div class="col-md-4">
    <button type="submit" class="btn btn-primary w-100">
        Search
    </button>
</div>
```

</form>

{% for job in jobs %}

<div class="card mb-4 shadow-sm">

```
<div class="card-body">

    <h4 class="card-title">
        {{ job.title }}
    </h4>

    <p>
        <strong>Company:</strong> {{ job.company }}
    </p>

    <p>
        <strong>Location:</strong> {{ job.location }}
    </p>

    <p>
        <strong>Experience:</strong> {{ job.experience }}
    </p>

    <p>
        <strong>Salary:</strong> {{ job.salary }}
    </p>

    <p>
        <strong>Required Skills:</strong>
        {{ job.required_skills }}
    </p>

    {% if job.user_resume %}

    <div class="alert alert-success">
        Resume Uploaded ✅
    </div>

    {% else %}

    <div class="alert alert-warning">
        No Resume Uploaded
    </div>

    {% endif %}

    <a href="/resume/upload/{{ job.id }}/" class="btn btn-secondary">
        Upload Resume
    </a>

    <a href="/resume/analyze/{{ job.id }}/" class="btn btn-info">
        ATS Analyzer
    </a>

    <a href="/resume/ai-feedback/{{ job.id }}/" class="btn btn-warning">
        AI Feedback
    </a>

    {% if job.id in applied_jobs %}

    <button class="btn btn-success" disabled>
        Applied ✅
    </button>

    {% else %}

    <a href="/jobs/apply/{{ job.id }}/" class="btn btn-primary">
        Apply
    </a>

    {% endif %}

    {% if job.id in saved_jobs %}

    <button class="btn btn-danger" disabled>
        Saved ❤️
    </button>

    {% else %}

    <a href="/jobs/save/{{ job.id }}/" class="btn btn-outline-danger">
        ❤️ Save Job
    </a>

    {% endif %}

</div>
```

</div>

{% empty %}

<div class="alert alert-info">
    No Jobs Found.
</div>

{% endfor %}

{% endblock %}
